<ion-content padding>
<div class="login"> 
	<div class="container login-container">
		<div class="row loginregister pt-lg-5 pt-md-5 mb-5">
			<div class="col-lg-12 col-md-12 col-12 pb-4 margin_top">
				<a href="#/home"><img src="assets/images/Dibdaa.png" class="dibdaalogo" alt="Dibdaa Logo"></a>
			</div>
			<div class="col-lg-5 col-md-10 col-12">
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12 col-12 col-md-12" *ngIf="ischangePass == false">
								
								<div class="form-group">
									<span class="register_info">Enter your new password below</span>
 								</div>
								<form id="reset-password" [formGroup]="newPassword" role="form" style="display: block;" class="form" novalidate>
									<div class="row">
										<div class="col-lg-12 col-md-12 col-12 form-group">
											<div class="form-group">
												<div class="row">
													<div class="col-lg-10 col-md-10 col-9 pr-0">
														<input type="password" id="password-reg" name="password" tabindex="1" class="form-control passwordregister border-right-0" [formControl]="newPassword.controls['password']" [ngClass]="{'error-border':!newPassword.controls['password'].valid}">
													</div>
													<div class="col-lg-2 col-md-2 col-3 pl-1 pr-1 showpassworddiv border-left-0">
														<label class="custom-control custom-checkbox withpassword">
															<input type="checkbox" class="custom-control-input" id="showpassword" (change)="show_text()">
															<span class="custom-control-indicator"></span>
															<span class="custom-control-description">Show</span>
														</label>
													</div>
													<div class="error-box pl-3" *ngIf="newPassword.controls['password'].hasError('required') && newPassword.controls['password'].touched">* Password is required!</div>
													<div class="error-box pl-3" *ngIf="newPassword.controls['password'].hasError('minlength') && newPassword.controls['password'].touched">* Minimum password length is 6!</div> 
												</div>
											</div>
											<div class="form-group">
												<p class="error-box">{{showReset?.user.msg}}</p>
											</div>
											<div class="form-group">
												<button type="submit" class="btn btn-warning btnsignin" (click)="setNewPassword(newPassword)">Continue</button>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="col-lg-12 col-12 col-md-12" *ngIf="ischangePass == true">
								<div class="row">
									<p class="showSuccessMessage text-success">Your Password updated successfully.</p>
								</div>
								<div class="row">
									<p class="w-100 text-center"><a href="#/home">Go To Home Page</a></p>
								</div>
							</div>
						</div>
						
					</div>
					
				</div>
				<div class="form-group youcanalso">
					You can aslo:
					<ul class="youcanalso-ul">
						<li>
							<a class="youcanalso-a" (click)="callCMSPage('register')">Register a new account</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
<!--================Footer Area =================-->
<footer-page></footer-page>
</div>
</ion-content>
