<ion-content padding >
    <div class="login">
        <div class="wrapper">
            <div class="container">
                <div class="row setFont">
                    <div class="col-lg-12 col-md-12 col-xl-12 col-12">
                        <p class="m-0" navPop *ngIf="plt.is('core') == false && plt.is('mobileweb') == false"><i class="fa fa-angle-left backButtonIcon"></i> <span class="backButtonText">Back</span></p>
						<p class="mb-2">
                            <a href="#/home" class="breadcrumblink">Dibdaa</a> &nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
                            <a class="breadcrumblink font-weight-bold" disabled>Business-Info</a></p>
                    </div>
                </div>
                <div class="row loginregister pt-lg-1 pt-md-1 mb-1">
                    <div class="col-lg-5 col-md-10 col-12">
                        <div class="panel panel-login">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12 col-12 col-md-12">
                                        <div class="form-group business-title pb-3">
                                            <span>Please tell us about <span *ngIf="localItem?.account_type == 'personal_account'">yourself</span> <span *ngIf="localItem?.account_type == 'business_account'">your business</span></span>
                                        </div>
                                        <div *ngIf="localItem?.account_type == 'personal_account'">
                                            <div class="form-group text-center">
                                                <button class="btn btn-warning btnsignin mb-3 switchAccount" type="submit" (click)="switchAccount('business_account')" >Switch To Business Account</button>
                                            </div>
                                            <form id="personal-details" [formGroup]="personal_Details" role="form" style="display: block;" class="mt-3">
                                                <div class="form-group">
                                                    <input type="text" name="business_name" tabindex="1" class="form-control" placeholder="Full name *" [formControl]="personal_Details.controls['business_name']" [ngClass]="{'error-border':!personal_Details.controls['business_name'].valid}">
                                                    <div class="error-box" *ngIf="personal_Details.controls['business_name'].hasError('required') && personal_Details.controls['business_name'].touched">* Full name!</div>
                                                    <div class="error-box" *ngIf="personal_Details.controls['business_name'].hasError('minlength') && personal_Details.controls['business_name'].touched">* Minimum length is 3!</div>
                                                </div>

                                                <div class="form-group">
                                                    <input type="email" name="email" tabindex="2" class="form-control" placeholder="Enter personal email" [formControl]="personal_Details.controls['email']" >
                                                </div>

                                                <div class="form-group">
                                                    <select id="inputCountry" tabindex="3" class="form-control" [formControl]="personal_Details.controls['natinality']">
                                                        <option value="Afghanistan">Afghanistan</option>
                                                        <option value="Albania">Albania</option>
                                                        <option value="Algeria">Algeria</option>
                                                        <option value="American Samoa">American Samoa</option>
                                                        <option value="Andorra">Andorra</option>
                                                        <option value="Angola">Angola</option>
                                                        <option value="Anguilla">Anguilla</option>
                                                        <option value="Antartica">Antarctica</option>
                                                        <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                        <option value="Argentina">Argentina</option>
                                                        <option value="Armenia">Armenia</option>
                                                        <option value="Aruba">Aruba</option>
                                                        <option value="Australia">Australia</option>
                                                        <option value="Austria">Austria</option>
                                                        <option value="Azerbaijan">Azerbaijan</option>
                                                        <option value="Bahamas">Bahamas</option>
                                                        <option value="Bahrain">Bahrain</option>
                                                        <option value="Bangladesh">Bangladesh</option>
                                                        <option value="Barbados">Barbados</option>
                                                        <option value="Belarus">Belarus</option>
                                                        <option value="Belgium">Belgium</option>
                                                        <option value="Belize">Belize</option>
                                                        <option value="Benin">Benin</option>
                                                        <option value="Bermuda">Bermuda</option>
                                                        <option value="Bhutan">Bhutan</option>
                                                        <option value="Bolivia">Bolivia</option>
                                                        <option value="Bosnia and Herzegowina">Bosnia and Herzegowina</option>
                                                        <option value="Botswana">Botswana</option>
                                                        <option value="Bouvet Island">Bouvet Island</option>
                                                        <option value="Brazil">Brazil</option>
                                                        <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                                                        <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                        <option value="Bulgaria">Bulgaria</option>
                                                        <option value="Burkina Faso">Burkina Faso</option>
                                                        <option value="Burundi">Burundi</option>
                                                        <option value="Cambodia">Cambodia</option>
                                                        <option value="Cameroon">Cameroon</option>
                                                        <option value="Canada">Canada</option>
                                                        <option value="Cape Verde">Cape Verde</option>
                                                        <option value="Cayman Islands">Cayman Islands</option>
                                                        <option value="Central African Republic">Central African Republic</option>
                                                        <option value="Chad">Chad</option>
                                                        <option value="Chile">Chile</option>
                                                        <option value="China">China</option>
                                                        <option value="Christmas Island">Christmas Island</option>
                                                        <option value="Cocos Islands">Cocos (Keeling) Islands</option>
                                                        <option value="Colombia">Colombia</option>
                                                        <option value="Comoros">Comoros</option>
                                                        <option value="Congo">Congo</option>
                                                        <option value="Congo">Congo, the Democratic Republic of the</option>
                                                        <option value="Cook Islands">Cook Islands</option>
                                                        <option value="Costa Rica">Costa Rica</option>
                                                        <option value="Cota D'Ivoire">Cote d'Ivoire</option>
                                                        <option value="Croatia">Croatia (Hrvatska)</option>
                                                        <option value="Cuba">Cuba</option>
                                                        <option value="Cyprus">Cyprus</option>
                                                        <option value="Czech Republic">Czech Republic</option>
                                                        <option value="Denmark">Denmark</option>
                                                        <option value="Djibouti">Djibouti</option>
                                                        <option value="Dominica">Dominica</option>
                                                        <option value="Dominican Republic">Dominican Republic</option>
                                                        <option value="East Timor">East Timor</option>
                                                        <option value="Ecuador">Ecuador</option>
                                                        <option value="Egypt">Egypt</option>
                                                        <option value="El Salvador">El Salvador</option>
                                                        <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                        <option value="Eritrea">Eritrea</option>
                                                        <option value="Estonia">Estonia</option>
                                                        <option value="Ethiopia">Ethiopia</option>
                                                        <option value="Falkland Islands">Falkland Islands (Malvinas)</option>
                                                        <option value="Faroe Islands">Faroe Islands</option>
                                                        <option value="Fiji">Fiji</option>
                                                        <option value="Finland">Finland</option>
                                                        <option value="France">France</option>
                                                        <option value="France Metropolitan">France, Metropolitan</option>
                                                        <option value="French Guiana">French Guiana</option>
                                                        <option value="French Polynesia">French Polynesia</option>
                                                        <option value="French Southern Territories">French Southern Territories</option>
                                                        <option value="Gabon">Gabon</option>
                                                        <option value="Gambia">Gambia</option>
                                                        <option value="Georgia">Georgia</option>
                                                        <option value="Germany">Germany</option>
                                                        <option value="Ghana">Ghana</option>
                                                        <option value="Gibraltar">Gibraltar</option>
                                                        <option value="Greece">Greece</option>
                                                        <option value="Greenland">Greenland</option>
                                                        <option value="Grenada">Grenada</option>
                                                        <option value="Guadeloupe">Guadeloupe</option>
                                                        <option value="Guam">Guam</option>
                                                        <option value="Guatemala">Guatemala</option>
                                                        <option value="Guinea">Guinea</option>
                                                        <option value="Guinea-Bissau">Guinea-Bissau</option>
                                                        <option value="Guyana">Guyana</option>
                                                        <option value="Haiti">Haiti</option>
                                                        <option value="Heard and McDonald Islands">Heard and Mc Donald Islands</option>
                                                        <option value="Holy See">Holy See (Vatican City State)</option>
                                                        <option value="Honduras">Honduras</option>
                                                        <option value="Hong Kong">Hong Kong</option>
                                                        <option value="Hungary">Hungary</option>
                                                        <option value="Iceland">Iceland</option>
                                                        <option value="India" selected>India</option>
                                                        <option value="Indonesia">Indonesia</option>
                                                        <option value="Iran">Iran (Islamic Republic of)</option>
                                                        <option value="Iraq">Iraq</option>
                                                        <option value="Ireland">Ireland</option>
                                                        <option value="Israel">Israel</option>
                                                        <option value="Italy">Italy</option>
                                                        <option value="Jamaica">Jamaica</option>
                                                        <option value="Japan">Japan</option>
                                                        <option value="Jordan">Jordan</option>
                                                        <option value="Kazakhstan">Kazakhstan</option>
                                                        <option value="Kenya">Kenya</option>
                                                        <option value="Kiribati">Kiribati</option>
                                                        <option value="Democratic People's Republic of Korea">Korea, Democratic People's Republic of</option>
                                                        <option value="Korea">Korea, Republic of</option>
                                                        <option value="Kuwait">Kuwait</option>
                                                        <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                        <option value="Lao">Lao People's Democratic Republic</option>
                                                        <option value="Latvia">Latvia</option>
                                                        <option value="Lebanon">Lebanon</option>
                                                        <option value="Lesotho">Lesotho</option>
                                                        <option value="Liberia">Liberia</option>
                                                        <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option>
                                                        <option value="Liechtenstein">Liechtenstein</option>
                                                        <option value="Lithuania">Lithuania</option>
                                                        <option value="Luxembourg">Luxembourg</option>
                                                        <option value="Macau">Macau</option>
                                                        <option value="Macedonia">Macedonia, The Former Yugoslav Republic of</option>
                                                        <option value="Madagascar">Madagascar</option>
                                                        <option value="Malawi">Malawi</option>
                                                        <option value="Malaysia">Malaysia</option>
                                                        <option value="Maldives">Maldives</option>
                                                        <option value="Mali">Mali</option>
                                                        <option value="Malta">Malta</option>
                                                        <option value="Marshall Islands">Marshall Islands</option>
                                                        <option value="Martinique">Martinique</option>
                                                        <option value="Mauritania">Mauritania</option>
                                                        <option value="Mauritius">Mauritius</option>
                                                        <option value="Mayotte">Mayotte</option>
                                                        <option value="Mexico">Mexico</option>
                                                        <option value="Micronesia">Micronesia, Federated States of</option>
                                                        <option value="Moldova">Moldova, Republic of</option>
                                                        <option value="Monaco">Monaco</option>
                                                        <option value="Mongolia">Mongolia</option>
                                                        <option value="Montserrat">Montserrat</option>
                                                        <option value="Morocco">Morocco</option>
                                                        <option value="Mozambique">Mozambique</option>
                                                        <option value="Myanmar">Myanmar</option>
                                                        <option value="Namibia">Namibia</option>
                                                        <option value="Nauru">Nauru</option>
                                                        <option value="Nepal">Nepal</option>
                                                        <option value="Netherlands">Netherlands</option>
                                                        <option value="Netherlands Antilles">Netherlands Antilles</option>
                                                        <option value="New Caledonia">New Caledonia</option>
                                                        <option value="New Zealand">New Zealand</option>
                                                        <option value="Nicaragua">Nicaragua</option>
                                                        <option value="Niger">Niger</option>
                                                        <option value="Nigeria">Nigeria</option>
                                                        <option value="Niue">Niue</option>
                                                        <option value="Norfolk Island">Norfolk Island</option>
                                                        <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                                                        <option value="Norway">Norway</option>
                                                        <option value="Oman">Oman</option>
                                                        <option value="Pakistan">Pakistan</option>
                                                        <option value="Palau">Palau</option>
                                                        <option value="Panama">Panama</option>
                                                        <option value="Papua New Guinea">Papua New Guinea</option>
                                                        <option value="Paraguay">Paraguay</option>
                                                        <option value="Peru">Peru</option>
                                                        <option value="Philippines">Philippines</option>
                                                        <option value="Pitcairn">Pitcairn</option>
                                                        <option value="Poland">Poland</option>
                                                        <option value="Portugal">Portugal</option>
                                                        <option value="Puerto Rico">Puerto Rico</option>
                                                        <option value="Qatar">Qatar</option>
                                                        <option value="Reunion">Reunion</option>
                                                        <option value="Romania">Romania</option>
                                                        <option value="Russia">Russian Federation</option>
                                                        <option value="Rwanda">Rwanda</option>
                                                        <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                        <option value="Saint LUCIA">Saint LUCIA</option>
                                                        <option value="Saint Vincent">Saint Vincent and the Grenadines</option>
                                                        <option value="Samoa">Samoa</option>
                                                        <option value="San Marino">San Marino</option>
                                                        <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                        <option value="Saudi Arabia">Saudi Arabia</option>
                                                        <option value="Senegal">Senegal</option>
                                                        <option value="Seychelles">Seychelles</option>
                                                        <option value="Sierra">Sierra Leone</option>
                                                        <option value="Singapore">Singapore</option>
                                                        <option value="Slovakia">Slovakia (Slovak Republic)</option>
                                                        <option value="Slovenia">Slovenia</option>
                                                        <option value="Solomon Islands">Solomon Islands</option>
                                                        <option value="Somalia">Somalia</option>
                                                        <option value="South Africa">South Africa</option>
                                                        <option value="South Georgia">South Georgia and the South Sandwich Islands</option>
                                                        <option value="Span">Spain</option>
                                                        <option value="SriLanka">Sri Lanka</option>
                                                        <option value="St. Helena">St. Helena</option>
                                                        <option value="St. Pierre and Miguelon">St. Pierre and Miquelon</option>
                                                        <option value="Sudan">Sudan</option>
                                                        <option value="Suriname">Suriname</option>
                                                        <option value="Svalbard">Svalbard and Jan Mayen Islands</option>
                                                        <option value="Swaziland">Swaziland</option>
                                                        <option value="Sweden">Sweden</option>
                                                        <option value="Switzerland">Switzerland</option>
                                                        <option value="Syria">Syrian Arab Republic</option>
                                                        <option value="Taiwan">Taiwan, Province of China</option>
                                                        <option value="Tajikistan">Tajikistan</option>
                                                        <option value="Tanzania">Tanzania, United Republic of</option>
                                                        <option value="Thailand">Thailand</option>
                                                        <option value="Togo">Togo</option>
                                                        <option value="Tokelau">Tokelau</option>
                                                        <option value="Tonga">Tonga</option>
                                                        <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                        <option value="Tunisia">Tunisia</option>
                                                        <option value="Turkey">Turkey</option>
                                                        <option value="Turkmenistan">Turkmenistan</option>
                                                        <option value="Turks and Caicos">Turks and Caicos Islands</option>
                                                        <option value="Tuvalu">Tuvalu</option>
                                                        <option value="Uganda">Uganda</option>
                                                        <option value="Ukraine">Ukraine</option>
                                                        <option value="United Arab Emirates">United Arab Emirates</option>
                                                        <option value="United Kingdom">United Kingdom</option>
                                                        <option value="United States">United States</option>
                                                        <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                                                        <option value="Uruguay">Uruguay</option>
                                                        <option value="Uzbekistan">Uzbekistan</option>
                                                        <option value="Vanuatu">Vanuatu</option>
                                                        <option value="Venezuela">Venezuela</option>
                                                        <option value="Vietnam">Viet Nam</option>
                                                        <option value="Virgin Islands (British)">Virgin Islands (British)</option>
                                                        <option value="Virgin Islands (U.S)">Virgin Islands (U.S.)</option>
                                                        <option value="Wallis and Futana Islands">Wallis and Futuna Islands</option>
                                                        <option value="Western Sahara">Western Sahara</option>
                                                        <option value="Yemen">Yemen</option>
                                                        <option value="Yugoslavia">Yugoslavia</option>
                                                        <option value="Zambia">Zambia</option>
                                                        <option value="Zimbabwe">Zimbabwe</option>
                                                    </select>
                                                </div>

                                                <div class="form-group">
                                                    <label class="setFont">Phone <span class="text-danger font-weight-bold ">*</span></label>
													<int-phone-prefix [locale]="'en'" tabindex="4" [formControl]="personal_Details.controls['business_mobile']" placeholder="Phone number"></int-phone-prefix>
													<div class="error-box" *ngIf="personal_Details.controls['business_mobile'].hasError('required') && personal_Details.controls['business_mobile'].touched">* Please enter number!</div>
                                                    <div class="error-box" *ngIf="personal_Details.controls['business_mobile'].hasError('minlength')">* Minimum length is 10!</div>
												</div>

                                                <div class="form-group">
                                                    <label class="setFont">Payment options <span class="text-danger font-weight-bold ">*</span></label>
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" name="payment_opt" tabindex="5" required id="payment_opt" value="1" (change)="changeInput('payment')">
                                                    <label class="m-0 setFont">PayPal</label>
                                                    <input type="checkbox" name="payment_opt" id="payment_cash" value="2" tabindex="6">
                                                    <label class="m-0 setFont">Cash on deliver</label>
                                                </div>

                                                <div class="form-group" *ngIf="register_paypal == true">
                                                    <input type="email" name="payment_email" tabindex="7" id="showpaypalbtn" class="form-control" placeholder="Enter payment email *" [formControl]="personal_Details.controls['payment_email']" (change)="checkPaypalEmail(paypalEmail.value , 'personal')" #paypalEmail>
                                                    <span><i class="fa fa-check-circle" style="font-size: 24px;position: relative;color:green;top: 4px;" *ngIf="verificationResponsepersonal?.responseEnvelope.ack == 'Success'"></i></span>
                                                    <span><i class="fa fa-close" style="font-size: 24px;position: relative;color:red;top: 4px;" *ngIf="verificationResponsepersonal?.responseEnvelope.ack == 'Failure'"></i></span>
                                                    <div class="error-box" *ngIf="verificationResponsepersonal?.responseEnvelope.ack == 'Failure'">Please enter valid Paypal email address</div>
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" name="interest" tabindex="8" id="interest" value="1" (change)="changeInput('interest')">
                                                    <label class="m-0 setFont">Interest (optional)</label>
                                                </div>

                                                <div class="form-group" *ngIf="interest">
                                                    <label class="setFont">Select categories</label>
                                                    <select class="form-control allcategories" tabindex="9" [formControl]="personal_Details.controls['interested_in']" multiple="true">
                                                        <option value="" selected>-- Select categories --</option>
                                                        <option *ngFor="let catdata of showCatData?.data" [value]="catdata?.id">{{catdata?.category_name}}</option>
                                                    </select>
                                                    <span class="setFont d-lg-block d-none">(Press ctrl button to select multiple categories.)</span>
                                                </div>

                                                <div class="form-group">
                                                    <div class="error-box" *ngIf="sellerInfo?.users.status == 'fail'"> {{sellerInfo?.users.msg}}</div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12 mt-2">
                                                            <div class="text-left">
                                                                <p>
                                                                    <input type="checkbox" id="tc-pp" required  tabindex="10" name="agrement" [formControl]="personal_Details.controls['agrement']" [ngClass]="{'error-border':!personal_Details.controls['agrement'].valid}">
                                                                    <label for="tc-pp" class="control-label">I agree to the</label>
                                                                    <a class="temporary-password" (click)="funccallmodal('25')">Seller Agreement</a>
                                                                    <label for="tc-pp" class="control-label">and</label>
                                                                    <a class="temporary-password" (click)="funccallmodal('26')">Seller Privacy Notice.</a>
                                                                    <label for="tc-pp" class="control-label">for this site.</label>
                                                                </p>
                                                                <div class="error-box" *ngIf="personal_Details.controls['agrement'].hasError('required') && personal_Details.controls['agrement'].touched">* Please check this box if you want to proceed.!</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
												<div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12 mt-2 text-center">
															<p class="text-danger paymentselect d-none">Please select payment option.</p>
														</div>
													</div>
												</div>
                                                <div class="form-group">
                                                    <button class="btn btn-warning btnsignin" type="submit" [disabled]="!personal_Details.valid" (click)="registerPersonal(personal_Details)">Continue</button>
                                                </div>
                                            </form>
                                        </div>
                                        <div *ngIf="localItem?.account_type == 'business_account'">
                                            <div class="form-group text-center">
                                                <button (click)="switchAccount('personal_account')" class="switchAccount btn btn-warning btnsignin mb-2" type="submit">Switch To Personal Account</button>
                                            </div>
                                            <form id="business-details" [formGroup]="business_Details" role="form" style="display: block;" class="mt-3">
                                                <div class="form-group">
                                                    <input type="text" name="business_name" tabindex="1" class="form-control" placeholder="Business name*" [formControl]="business_Details.controls['business_name']" [ngClass]="{'error-border':!business_Details.controls['business_name'].valid}">
                                                    <div class="error-box" *ngIf="business_Details.controls['business_name'].hasError('required') && business_Details.controls['business_name'].touched">* Business name is required!</div>
                                                    <div class="error-box" *ngIf="business_Details.controls['business_name'].hasError('minlength') && business_Details.controls['business_name'].touched">* Minimum length is 3!</div>
                                                </div>

                                                <div class="form-group" id="google_loc_div">
                                                    <!--<input type="text" name="address" placeholder="Enter your location" required id="autocomplete" onFocus="geolocate()" value="">-->
                                                    <!--<textarea class="form-control" rows="3" tabindex="2" id="business_address" name="business_address" placeholder="Business Address *" required [formControl]="business_Details.controls['business_address']" [ngClass]="{'error-border':!business_Details.controls['business_address'].valid}"></textarea>-->
													<ng4geo-autocomplete [userSettings]="userSettings" (componentCallback)="autoCompleteCallback1($event)"></ng4geo-autocomplete>
                                                </div>

                                                <div class="form-group">
                                                    <label class="setFont">Type of businesses <span class="text-danger font-weight-bold ">*</span></label>
                                                    <select class="form-control allcategories" tabindex="3" [formControl]="business_Details.controls['business_type']" required #type_business>
                                                        <option value="" selected> --Select type of business -- </option>
                                                        <option value="Sole trader">Sole trader</option>
                                                        <option value="Limited Liability">Limited Liability</option>
                                                        <option value="Charity">Charity</option>
                                                        <option value="Freezone">Freezone</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                    <div class="error-box" *ngIf="business_Details.controls['business_type'].hasError('required') && business_Details.controls['business_type'].touched">* Select business yype!</div>
                                                </div>

                                                <div class="form-group" *ngIf="type_business.value == 'Other'">
                                                    <input type="text" name="business_type" tabindex="4" class="form-control" placeholder="Enter Business Type *" [formControl]="business_Details.controls['business_type']" required>
                                                    <div class="error-box" *ngIf="business_Details.controls['business_type'].hasError('required') && business_Details.controls['business_type'].touched">* Enter business type!</div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="setFont">Select business relationship</label>
                                                    <select class="form-control allcategories" tabindex="5" [formControl]="business_Details.controls['business_relationship']" #business_relationship>
                                                        <option value="" selected>-- Reletionship to business --</option>
                                                        <option value="owner">Owner</option>
                                                        <option value="Manager">Manager</option>
                                                        <option value="Director">Director</option>
                                                        <option value="Partner">Partner</option>
                                                        <option value="Approved Seller">Approved Seller</option>
                                                        <option value="Other">Other</option>
                                                    </select>
                                                </div>

                                                <div class="form-group" *ngIf="business_relationship.value == 'Other'">
                                                    <input type="text" name="business_relationship" tabindex="6" class="form-control" placeholder="Enter business relationship" [formControl]="business_Details.controls['business_relationship']" required>
                                                    <div class="error-box" *ngIf="business_Details.controls['business_relationship'].hasError('required') && business_Details.controls['business_relationship'].touched">* Enter business relationship!</div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="setFont">Phone <span class="text-danger font-weight-bold ">*</span></label>
													<int-phone-prefix [locale]="'en'" tabindex="7" [formControl]="business_Details.controls['business_mobile']" placeholder="Phone number"></int-phone-prefix>
													<div class="error-box" *ngIf="business_Details.controls['business_mobile'].hasError('required') && business_Details.controls['business_mobile'].touched">* Please enter number!</div>
													<div class="error-box" *ngIf="business_Details.controls['business_mobile'].hasError('minlength')">* Minimum length is 10!</div>
											   </div>

                                                <div class="form-group">
                                                    <input type="email" name="email" tabindex="8" class="form-control" placeholder="Enter Business email" [formControl]="business_Details.controls['email']">
                                                </div>

                                                <div class="form-group">
                                                    <label class="setFont">Payment options <span class="text-danger font-weight-bold ">*</span></label>
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" name="payment_opt" tabindex="9" required id="payment_opt" value="1" (change)="changeInput('payment')">
                                                    <label class="m-0 setFont">PayPal</label>
                                                    <input type="checkbox" name="payment_opt" id="payment_cash" value="2" tabindex="10">
                                                    <label class="m-0 setFont">Cash on deliver</label>
                                                </div>

                                                <div class="form-group" *ngIf="register_paypal == true">
                                                    <input type="email" name="payment_email" class="form-control" id="showpaypalbtn" tabindex="11" placeholder="Enter payment email *" [formControl]="business_Details.controls['payment_email']" (change)="checkPaypalEmail(paypalEmail.value , 'business')" #paypalEmail>
                                                    <span><i class="fa fa-check-circle" style="font-size: 24px;position: relative;color:green;top: 4px;" *ngIf="verificationResponsebusiness?.responseEnvelope.ack == 'Success'"></i></span>
                                                    <span><i class="fa fa-close" style="font-size: 24px;position: relative;color:red;top: 4px;" *ngIf="verificationResponsebusiness?.responseEnvelope.ack == 'Failure'"></i></span>
                                                    <div class="error-box" *ngIf="verificationResponsebusiness?.responseEnvelope.ack == 'Failure'">Please enter valid Paypal email address</div>
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="company_number" tabindex="12" class="form-control" placeholder="Company number" [formControl]="business_Details.controls['company_number']" >
                                                </div>

                                                <div class="form-group">
                                                    <input type="text" name="vat_number" tabindex="13" class="form-control" placeholder="VAT number if applicable" [formControl]="business_Details.controls['vat_number']">
                                                    <span class="setFont d-none d-lg-block">(please note if you are VAT registered a VAT invoice will be generated from the system on your behalf to the buyer showing an inclusive VAT figure on final sales price for your records.)</span>
                                                </div>

                                                <div class="form-group">
                                                    <input type="checkbox" name="interest" tabindex="14" id="interest" value="1" (change)="changeInput('interest')">
                                                    <label class="m-0 setFont">Interest (optional)</label>
                                                </div>

                                                <div class="form-group" *ngIf="interest">
                                                    <label class="setFont">Select categories</label>
                                                    <select class="form-control allcategories" tabindex="15" [formControl]="business_Details.controls['interested_in']" multiple="true">
                                                        <option value="" selected>-- Select categories --</option>
                                                        <option *ngFor="let catdata of showCatData?.data" [value]="catdata?.id">{{catdata?.category_name}}</option>
                                                    </select>
                                                    <span class="setFont">(Press ctrl button to select multiple categories.)</span>
                                                </div>

                                                <div class="form-group">
                                                    <div class="error-box" *ngIf="sellerInfo?.users.status == 'fail'"> {{sellerInfo?.users.msg}}</div>
                                                </div>

                                                <div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12 mt-2">
                                                            <div class="text-left">
                                                                <p>
                                                                    <input type="checkbox" id="tc-pp" required  tabindex="16" name="agrement" [formControl]="business_Details.controls['agrement']" [ngClass]="{'error-border':!business_Details.controls['agrement'].valid}">
                                                                    <label for="tc-pp" class="control-label">I agree to the</label>
                                                                    <a class="temporary-password" (click)="funccallmodal('25')">Seller Agreement</a>
                                                                    <label for="tc-pp" class="control-label">and</label>
                                                                    <a class="temporary-password" (click)="funccallmodal('26')">Seller Privacy Notice.</a>
                                                                    <label for="tc-pp" class="control-label">for this site.</label>
                                                                </p>
                                                                <div class="error-box" *ngIf="business_Details.controls['agrement'].hasError('required') && business_Details.controls['agrement'].touched">* Please check this box if you want to proceed.!</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
												<div class="form-group">
                                                    <div class="row">
                                                        <div class="col-lg-12 mt-2 text-center">
															<p class="text-danger paymentselect d-none">Please select payment option.</p>
														</div>
													</div>
												</div>
                                                <div class="form-group">
                                                    <button class="btn btn-warning btnsignin" type="submit" [disabled]="!business_Details.valid" (click)="registerBusiness(business_Details)">Continue</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        	
		<!--================Footer Area =================-->
		<footer-page></footer-page>
    </div>
</ion-content>