<ion-content padding>
<style>
.modal {
 display:block;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
 
  border: 1px solid #888;
  width: 30%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.rate-and-review {
        font-family: $OpenSans-Bold !important;
      }
.col-form-label {
        font-size: 0.8rem;
      }
	   .tell-us-more {
        font-family: $OpenSans-Bold;
        font-size: $fontsizeone;
      }
  .error-box{
      font-size: 13px;
      color: red;
      font-weight: 500;
      letter-spacing: 1px;
    }
        #reviewStars-input input:checked ~ label, #reviewStars-input label, #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
          background: url('../assets/images/star-icon.png') no-repeat;
        }
        #reviewStars-input {
          /*        overflow: hidden;*/
          *zoom: 1;
          position: relative;
          float: left;
          top: 5px;
        }

        #reviewStars-input input {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          z-index: 0;
        }

        #reviewStars-input input:checked ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }
        #reviewStars-input label {
          background-position: 0 0;
          height: 20px;
          width: 22px;
          float: right;
          cursor: pointer;
          margin-right: 10px;
          position: relative;
          z-index: 1;
        }

        #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }

        #reviewStars-input #star-0 {
          left: 0;
        }
        #reviewStars-input #star-1 {
          left: 53px;
        }
        #reviewStars-input #star-2 {
          left: 106px;
        }
        #reviewStars-input #star-3 {
          left: 159px;
        }
        #reviewStars-input #star-4 {
          left: 212px;
        }
        #CommunicatonStars-input input:checked ~ label, #CommunicatonStars-input label, #CommunicatonStars-input label:hover, #CommunicatonStars-input label:hover ~ label {
          background: url('../assets/images/star-icon.png') no-repeat;
        }
        #CommunicatonStars-input {
          /*        overflow: hidden;*/
          *zoom: 1;
          position: relative;
          float: left;
          top: 5px;
        }

        #CommunicatonStars-input input {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          z-index: 0;
        }

        #CommunicatonStars-input input:checked ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }
        #CommunicatonStars-input label {
          background-position: 0 0;
          height: 20px;
          width: 22px;
          float: right;
          cursor: pointer;
          margin-right: 10px;
          position: relative;
          z-index: 1;
        }

        #CommunicatonStars-input label:hover, #CommunicatonStars-input label:hover ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }

        #CommunicatonStars-input #star-5 {
          left: 0;
        }
        #CommunicatonStars-input #star-6 {
          left: 53px;
        }
        #CommunicatonStars-input #star-7 {
          left: 106px;
        }
        #CommunicatonStars-input #star-8 {
          left: 159px;
        }
        #CommunicatonStars-input #star-9 {
          left: 212px;
        }


        #ItemStars-input input:checked ~ label, #ItemStars-input label, #ItemStars-input label:hover, #ItemStars-input label:hover ~ label {
          background: url('../assets/images/star-icon.png') no-repeat;
        }
        #ItemStars-input {
          /*        overflow: hidden;*/
          *zoom: 1;
          position: relative;
          float: left;
          top: 5px;
        }

        #ItemStars-input input {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          z-index: 0;
        }

        #ItemStars-input input:checked ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }
        #ItemStars-input label {
          background-position: 0 0;
          height: 20px;
          width: 22px;
          float: right;
          cursor: pointer;
          margin-right: 10px;
          position: relative;
          z-index: 1;
        }

        #ItemStars-input label:hover, #ItemStars-input label:hover ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }

        #ItemStars-input #star-10 {
          left: 0;
        }
        #ItemStars-input #star-11 {
          left: 53px;
        }
        #ItemStars-input #star-12 {
          left: 106px;
        }
        #ItemStars-input #star-13 {
          left: 159px;
        }
        #ItemStars-input #star-14 {
          left: 212px;
        }
        #ItemStars-input #star-15 {
          left: 265px;
        }

        #MoneyStars-input input:checked ~ label, #MoneyStars-input label, #MoneyStars-input label:hover, #MoneyStars-input label:hover ~ label {
          background: url('../assets/images/star-icon.png') no-repeat;
        }
        #MoneyStars-input {
          /*        overflow: hidden;*/
          *zoom: 1;
          position: relative;
          float: left;
          top: 5px;
        }

        #MoneyStars-input input {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          z-index: 0;
        }

        #MoneyStars-input input:checked ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }
        #MoneyStars-input label {
          background-position: 0 0;
          height: 20px;
          width: 22px;
          float: right;
          cursor: pointer;
          margin-right: 10px;
          position: relative;
          z-index: 1;
        }

        #MoneyStars-input label:hover, #MoneyStars-input label:hover ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }

        #MoneyStars-input #star-16 {
          left: 0;
        }
        #MoneyStars-input #star-17 {
          left: 53px;
        }
        #MoneyStars-input #star-18 {
          left: 106px;
        }
        #MoneyStars-input #star-19 {
          left: 159px;
        }
        #MoneyStars-input #star-20 {
          left: 212px;
        }

        #DispatchedStars-input input:checked ~ label, #DispatchedStars-input label, #DispatchedStars-input label:hover, #DispatchedStars-input label:hover ~ label {
          background: url('../assets/images/star-icon.png') no-repeat;
        }
        #DispatchedStars-input {
          /*        overflow: hidden;*/
          *zoom: 1;
          position: relative;
          float: left;
          top: 5px;
        }

        #DispatchedStars-input input {
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
          opacity: 0;
          width: 22px;
          height: 20px;
          position: absolute;
          top: 0;
          z-index: 0;
        }

        #DispatchedStars-input input:checked ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }
        #DispatchedStars-input label {
          background-position: 0 0;
          height: 20px;
          width: 22px;
          float: right;
          cursor: pointer;
          margin-right: 10px;
          position: relative;
          z-index: 1;
        }

        #DispatchedStars-input label:hover, #DispatchedStars-input label:hover ~ label {
          background-position: 0 -20px;
          height: 20px;
          width: 22px;
        }

        #DispatchedStars-input #star-21 {
          left: 0;
        }
        #DispatchedStars-input #star-22 {
          left: 53px;
        }
        #DispatchedStars-input #star-23 {
          left: 106px;
        }
        #DispatchedStars-input #star-24 {
          left: 159px;
        }
        #DispatchedStars-input #star-25 {
          left: 212px;
        }
		
		
		
		
        [type="radio"]:checked,
        [type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px;
        }
        [type="radio"]:checked + label,
        [type="radio"]:not(:checked) + label {
          position: relative;
          padding-left: 28px;
          cursor: pointer;
          line-height: 18px;
          display: inline-block;
          color: #666;
        }
        [type="radio"]:checked + label:before,
        [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border: 1px solid $secondary_color;
          border-radius: 100%;
          background: $color_white;
        }
        [type="radio"]:checked + label:after,
        [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 8px;
          height: 8px;
          background: $frontColor;
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
        }
        [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0);
        }
        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
</style>



<div class="thankyou">
	<div class="wrapper">
		<div class="container thankyou-page-main mb-3 text-center" >
                    <div>
                    
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12 mt-3 mb-3">
					<h1 class="text-center mt-3 text-uppercase">Thank you.</h1>
				</div>
				<div class="col-lg-12 col-md-12 col-12 text-center mb-3">
					<i class="fa fa-check-square-o right-icon"></i>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-12">
					<p class="receipt-info-txt">Your order id is : <span><a class="text-primary" (click)="goToDetails()">#{{order_Id}}</a></span></p>
					<p class="receipt-info-txt">Congrats! Your order is complete.</p>
					<p class="receipt-info-txt">Thanks for choosing Dibdaa.</p>
					<p class="receipt-info-txt">You will receive confirmation of your order via email shortly. In the meantime, You can view your order details <a class="text-primary" (click)="goToDetails()">here.</a></p>
				</div>
			</div>
                </div>
                     
                    
                 
                         <div id="myModal" class="modal" style="display:none;">
						 <div class="modal-content">
         
                         <!-- <div  id="myForm"> -->
       <!--  <div class="col-lg-3 col-md-3 col-12 mt-3 mb-3">
          <a (click)="goToback()">
            <img src="{{trandingImgUrl}}{{detailsData?.ProId}}/L/{{detailsData?.ProImage}}" class="img-fluid menclothesimages">
          </a>
        </div> -->
        <div class="col-lg-12 col-md-12 col-12 mt-3 mb-3">
          <h5 class="mb-3 rate-and-review">Rate Your Experience</h5>
          <a (click)="goToback()" class="producttitle-link">
            <h6 class="producttitle ">
              {{detailsData?.ProTitle}}
            </h6>
          </a>
          <form class="mt-3"  #frm="ngForm" method="post" role="form" novalidate>
            <div class="form-group row ml-0 mr-0">
              
              <div class="col-sm-12 col-md-12 col-lg-12 rating-star" style="padding-left:125px;">
                <div id="reviewStars-input">
					<input id="star-4" type="radio" name="reviewStars" value="5" [(ngModel)]="review_Stars" #reviewStars="ngModel" required>
					<label title="Excellent" for="star-4"></label>
                 
					<input id="star-3" type="radio" name="reviewStars" value="4" [(ngModel)]="review_Stars">
					<label title="Good" for="star-3"></label>

					<input id="star-2" type="radio" name="reviewStars" value="3" [(ngModel)]="review_Stars">
					<label title="Regular" for="star-2"></label>

					<input id="star-1" type="radio" name="reviewStars" value="2" [(ngModel)]="review_Stars">
					<label title="Poor" for="star-1"></label>

					<input id="star-0" type="radio" name="reviewStars" value="1" [(ngModel)]="review_Stars">
					<label title="Bad" for="star-0"></label>
				</div>
				<!-- <div class="setFont_size pt-2" style="display:none;">
					<span *ngIf="reviewStars?.value == 5">Excellent</span>
					<span *ngIf="reviewStars?.value == 4">Good</span>
					<span *ngIf="reviewStars?.value == 3">Regular</span>
					<span *ngIf="reviewStars?.value == 2">Poor</span>
					<span *ngIf="reviewStars?.value == 1">Bad</span>
				</div> -->
              </div>
            </div>
			
			<div class="form-group row m-0" >
                  <label for="review-title" class="col-sm-3 col-md-5 col-lg-3 col-form-label"><span class="text-danger"></span>Write your review :-</label>
                  <div class="col-sm-9 col-md-7 col-lg-9">
                    <textarea class="form-control" rows="3" name="description" id="checkout-instruction" #description="ngModel"  ngModel maxlength="200" (keypress)="onKeyPressed($event)"></textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-box">
                      <div *ngIf="description.errors.required">
                        * Enter description.
                      </div>
                      
                      <div *ngIf="description.errors.maxlength">
                        * Maximum description length is 200.
                      </div>
                    </div>
                  </div>
                </div>

         

            <!-- <div class="form-group">
              <label class="tell-us-more">Write your review</label>
              <div class="toggale-button">
                <div class="form-group row ml-0 mr-0 mt-3 mb-3">
                  <label for="review-title" class="col-sm-3 col-md-5 col-lg-3 col-form-label"><span class="text-danger">*</span>Title your review :-</label>
                  <div class="col-sm-12 col-md-6 col-lg-5 col-12">
                    <input type="text" class="form-control" name ="title" id="review-title" placeholder="Title your review" #title="ngModel" required ngModel minlength="3" maxlength="40" (keypress)="onKeyPressed($event)">
                    <div *ngIf="title.invalid && (title.dirty || title.touched)" class="error-box">
                      <div *ngIf="title.errors.required">
                        * Enter title.
                      </div>
                      <div *ngIf="title.errors.minlength">
                        * Minimum title length is 3.
                      </div>
                      <div *ngIf="title.errors.maxlength">
                        * Maximum title length is 40.
                      </div>
					</div>
                  </div>
                </div>
                <div class="form-group row m-0">
                  <label for="review-title" class="col-sm-3 col-md-5 col-lg-3 col-form-label"><span class="text-danger">*</span>Write your review :-</label>
                  <div class="col-sm-9 col-md-7 col-lg-9">
                    <textarea class="form-control" rows="3" name="description" id="checkout-instruction" placeholder="Write your review" #description="ngModel" required ngModel maxlength="200" minlength="6" (keypress)="onKeyPressed($event)"></textarea>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-box">
                      <div *ngIf="description.errors.required">
                        * Enter description.
                      </div>
                      <div *ngIf="description.errors.minlength">
                        * Minimum description length is 6.
                      </div>
                      <div *ngIf="description.errors.maxlength">
                        * Maximum description length is 200.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="form-group text-center mt-4 mb-4">
              <div class="text-danger d-none showFeedbackErrordf pt-2 pb-2 setFont_size">Your are already give feedback on this product</div>
              <div class="text-primary d-none showFeedbackError pt-2 pb-2 setFont_size" style="color:#f47321 !important">Rating Added Successfully</div>
              <button type="submit" class="btn theme-light-btn " (click)="submitForm()" [disabled]="!frm.valid" style="margin-right:-93px !important; ">Submit</button>
			  <button type="reset" class=" close btn theme-dark-btn" (click)="closeForm()"  style="margin-right:120px !important;"> Later</button>
               
            </div>
			
			 
          </form>
          <div class="form-group text-center p-5" *ngIf="reviewAdded == true">
            <h5> Thank You! </h5>
            <img src="assets/images/tick-512.png" width="60px" height="60px" />
            <p class="mt-3 setSpace_mobile"> Your review has been successfully submitted. </p>
          </div>
        </div>
      <!-- </div> -->
      </div>
      </div>
				
		</div>	
            
            
            
	</div>
	<footer-page></footer-page>
</div>

</ion-content>
