<ion-content padding>
<div class="featured-deals">
	<div class="wrapper">
		<div class="container featured-deals-main mb-3">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xl-12 col-12 breadcrumblink_div set_fontSize">
					<p class="m-0" navPop *ngIf="plt.is('core') == false && plt.is('mobileweb') == false"><i class="fa fa-angle-left backButtonIcon"></i> <span class="backButtonText">Back</span></p>
					<p>
						<a href="#/home" class="breadcrumblink">Dibdaa</a> &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
						<a class="breadcrumblink" disabled *ngIf="recntview == true">Recently viewed</a> 
						<a class="breadcrumblink" disabled *ngIf="latestrend == true">Latest Trending </a> 
						<a class="breadcrumblink" disabled *ngIf="dailydeal == true">Featured Deals</a> 
						<a class="breadcrumblink" disabled *ngIf="recommended == true">Recommended For You</a>
						<a href="#/seller-my-account/SavedSellers" class="breadcrumblink" *ngIf="sellSimilar == true">My Dibdaa&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</a> <a class="breadcrumblink" disabled *ngIf="sellSimilar == true">Sell Similar</a>
						<a href="#/seller-my-account/SavedSellers" class="breadcrumblink" *ngIf="viewSeller == true">My Dibdaa &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;</a> <a class="breadcrumblink" disabled *ngIf="viewSeller == true">&nbsp;Seller {{userName}} Product List</a>
						<a class="breadcrumblink" disabled *ngIf="viewwishlist == true">Currently Watched</a>
						<a class="breadcrumblink" disabled *ngIf="viewunderfifty == true">Under 50 AED</a>
						<a class="breadcrumblink" disabled *ngIf="viewsellerActive == true">Seller active item</a>
						<a class="breadcrumblink" disabled *ngIf="viewnewItem == true">New Items</a>
					</p>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="viewSeller == true">
				<h6 *ngIf="userName != null"> Seller - {{userName}} Store Product Lists </h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let viewSLRdata of viewSellerData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(viewSLRdata?.product_id)" title="{{viewSLRdata?.title}}">
										<img src="{{trandingImgUrl}}{{viewSLRdata?.product_id}}/L/{{viewSLRdata?.photos[0]}}" class="img-fluid" alt="{{viewSLRdata?.title}}">
									</a>
								</figure>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a (click)="gotoProductdetailpage(viewSLRdata?.product_id)" title="{{viewSLRdata?.title}}">{{(viewSLRdata?.title.length > 15)? (viewSLRdata?.title | slice:0:15)+'...':(viewSLRdata?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="viewSLRdata?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="viewSLRdata?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="viewSLRdata?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="viewSLRdata?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="viewSLRdata?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="viewSLRdata?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="viewSLRdata?.quantity <= 5">Only {{viewSLRdata?.quantity}} left! </span>
											<span *ngIf="viewSLRdata?.quantity > 5">{{viewSLRdata?.quantity}} left! </span>
										</div>
									</div>
									<span>{{viewSLRdata?.final_price}} AED</span> 
									<span *ngIf="viewSLRdata?.discount > 0 "> | <del><span class="grey">{{viewSLRdata?.price}} AED</span></del>
										| <span class="text-uppercase">{{viewSLRdata?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="viewSLRdata?.product_address != null">From <a title="{{viewSLRdata?.product_address}}">{{(viewSLRdata?.product_address.length > 13)? (viewSLRdata?.product_address | slice:0:13)+'...':(viewSLRdata?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="viewSLRdata?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="viewSLRdata?.selling_type =='Fixed price'">Buy It Now</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="viewnewItem == true">
				<h6>New Items</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let newitm of viewnewItemData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(newitm?.id)" title="{{newitm?.title}}">
										<img src="{{trandingImgUrl}}{{newitm?.id}}/L/{{newitm?.photos[0]}}" class="img-fluid" alt="{{newitm?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="newitm?.endsoon <= 10 && newitm?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a (click)="gotoProductdetailpage(newitm?.id)" title="{{newitm?.title}}">{{(newitm?.title.length > 15)? (newitm?.title | slice:0:15)+'...':(newitm?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="newitm?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="newitm?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="newitm?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="newitm?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="newitm?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="newitm?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="newitm?.quantity <= 5">Only {{newitm?.quantity}} left! </span>
											<span *ngIf="newitm?.quantity > 5">{{newitm?.quantity}} left! </span>
										</div>
									</div>
									<span>{{newitm?.final_price}} AED</span> 
									<span *ngIf="newitm?.discount > 0 "> | <del><span class="grey">{{newitm?.price}} AED</span></del>
										| <span class="text-uppercase">{{newitm?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="newitm?.product_address != null">From <a title="{{newitm?.product_address}}">{{(newitm?.product_address.length > 13)? (newitm?.product_address | slice:0:13)+'...':(newitm?.product_address)}}</a></p>
									<!--<p class="mb-1 mt-0">Free shipping</p>-->
									<p class="mb-1 mt-0">Delivery by: {{newitm?.shipment_type}}</p>
									<p class="mb-1 mt-0" *ngIf="newitm?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="newitm?.selling_type =='Fixed price'">Buy It Now</p> 
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="newitm?.endsoon <= 10 && newitm?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="recntview == true">
				<h6>Recently viewed</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let rcntview of recentlyViewedData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(rcntview?.id)" title="{{rcntview?.title}}">
										<img src="{{trandingImgUrl}}{{rcntview?.id}}/L/{{rcntview?.photos[0]}}" class="img-fluid" alt="{{rcntview?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="rcntview?.endsoon <= 10 && rcntview?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a (click)="gotoProductdetailpage(rcntview?.id)" title="{{rcntview?.title}}">{{(rcntview?.title.length > 15)? (rcntview?.title | slice:0:15)+'...':(rcntview?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="rcntview?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="rcntview?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="rcntview?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="rcntview?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="rcntview?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="rcntview?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="rcntview?.quantity <= 5">Only {{rcntview?.quantity}} left! </span>
											<span *ngIf="rcntview?.quantity > 5">{{rcntview?.quantity}} left! </span>
										</div>
									</div>
									<span>{{rcntview?.final_price}} AED</span> 
									<span *ngIf="rcntview?.discount > 0 "> | <del><span class="grey">{{rcntview?.price}} AED</span></del>
										| <span class="text-uppercase">{{rcntview?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="rcntview?.product_address != null">From <a title="{{rcntview?.product_address}}">{{(rcntview?.product_address.length > 13)? (rcntview?.product_address | slice:0:13)+'...':(rcntview?.product_address)}}</a></p>
									<!--<p class="mb-1 mt-0">Free shipping</p>-->
									<p class="mb-1 mt-0">Delivery by: {{rcntview?.shipment_type}}</p>
									<p class="mb-1 mt-0" *ngIf="rcntview?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="rcntview?.selling_type =='Fixed price'">Buy It Now</p> 
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="rcntview?.endsoon <= 10 && rcntview?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="latestrend == true">
				<h6>Latest Trending </h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let lsttend of latestrandingData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(lsttend?.product_id)" title="{{lsttend?.title}}">
										<img src="{{trandingImgUrl}}{{lsttend?.product_id}}/L/{{lsttend?.photos[0]}}" class="img-fluid" alt="{{lsttend?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="lsttend?.endsoon <= 10 && lsttend?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a (click)="gotoProductdetailpage(lsttend?.product_id)" title="{{lsttend?.title}}">{{(lsttend?.title.length > 15)? (lsttend?.title | slice:0:15)+'...':(lsttend?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="lsttend?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="lsttend?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="lsttend?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="lsttend?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="lsttend?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="lsttend?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="text-danger" *ngIf="lsttend?.quantity <= 5">Only {{lsttend?.quantity}} left! </span>
											<span *ngIf="lsttend?.quantity > 5">{{lsttend?.quantity}} left! </span>
										</div>
									</div>
									<span>{{lsttend?.final_price}} AED</span> 
									<span *ngIf="lsttend?.discount > 0 "> | <del><span class="grey">{{lsttend?.price}} AED</span></del>
										| <span class="text-uppercase">{{lsttend?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="lsttend?.product_address != null">From <a title="{{lsttend?.product_address}}">{{(lsttend?.product_address.length > 13)? (lsttend?.product_address | slice:0:13)+'...':(lsttend?.product_address)}}</a></p>
									<!--<p class="mb-1 mt-0">Free shipping</p>-->
									<p class="mb-1 mt-0">Delivery by: {{lsttend?.shipment_type}}</p>
									<p class="mb-1 mt-0" *ngIf="lsttend?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="lsttend?.selling_type =='Fixed price'">Buy It Now</p> 
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="lsttend?.endsoon <= 10 && lsttend?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="dailydeal == true">
				<h6>Featured Deals</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let dydeal of dailydealData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(dydeal?.id)" title="{{dydeal?.title}}">
										<img src="{{trandingImgUrl}}{{dydeal?.id}}/L/{{dydeal?.photos[0]}}" class="img-fluid" alt="{{dydeal?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="dydeal?.endsoon <= 10 && dydeal?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{dydeal?.title}}" (click)="gotoProductdetailpage(dydeal?.id)">{{(dydeal?.title.length > 15)? (dydeal?.title | slice:0:15)+'...':(dydeal?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="dydeal?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="dydeal?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="dydeal?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="dydeal?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="dydeal?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="dydeal?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="dydeal?.quantity <= 5">Only {{dydeal?.quantity}} left! </span>
											<span *ngIf="dydeal?.quantity > 5">{{dydeal?.quantity}} left! </span>
										</div>
									</div>
									<span>{{dydeal?.final_price}} AED</span>
									<span *ngIf="dydeal?.discount > 0 "> |
										<del><span class="grey">{{dydeal?.price}} AED</span></del>
										| <span class="text-uppercase">{{dydeal?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="dydeal?.product_address != null">From <a title="{{dydeal?.product_address}}">{{(dydeal?.product_address.length > 13)? (dydeal?.product_address | slice:0:13)+'...':(dydeal?.product_address)}}</a></p>
									<!--<p class="mb-1 mt-0">Free shipping</p>-->
									<p class="mb-1 mt-0">Delivery by: {{dydeal?.shipment_type}}</p>
									<p class="mb-1 mt-0" *ngIf="dydeal?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="dydeal?.selling_type =='Fixed price'">Buy It Now</p>
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="dydeal?.endsoon <= 10 && dydeal?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="recommended == true">
				<h6>Recommended For You</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let recommendedeal of recommendedData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(recommendedeal?.id)" title="{{recommendedeal?.title}}">
										<img src="{{trandingImgUrl}}{{recommendedeal?.id}}/L/{{recommendedeal?.photos[0]}}" class="img-fluid" alt="{{recommendedeal?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="recommendedeal?.endsoon <= 10 && recommendedeal?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{recommendedeal?.title}}" (click)="gotoProductdetailpage(recommendedeal?.id)">{{(recommendedeal?.title.length > 15)? (recommendedeal?.title | slice:0:15)+'...':(recommendedeal?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="recommendedeal?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="recommendedeal?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="recommendedeal?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="recommendedeal?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="recommendedeal?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="recommendedeal?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="recommendedeal?.quantity <= 5">Only {{recommendedeal?.quantity}} left! </span>
											<span *ngIf="recommendedeal?.quantity > 5">{{recommendedeal?.quantity}} left! </span>
										</div>
									</div>
									<span>{{(recommendedeal?.price - (recommendedeal?.price * recommendedeal?.discount) / 100)}} AED </span>
									
									<span *ngIf="recommendedeal?.discount > 0 "> |
										<del><span class="grey">{{recommendedeal?.price}} AED</span></del>
										| <span class="text-uppercase">{{recommendedeal?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="recommendedeal?.product_address != null">From <a title="{{recommendedeal?.product_address}}">{{(recommendedeal?.product_address.length > 13)? (recommendedeal?.product_address | slice:0:13)+'...':(recommendedeal?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="recommendedeal?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="recommendedeal?.selling_type =='Fixed price'">Buy It Now</p>
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="recommendedeal?.endsoon <= 10 && recommendedeal?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="sellSimilar == true">
				<h6>Sell Similar</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let selldata of sellSimilarData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a (click)="gotoProductdetailpage(selldata?.product_id)" title="{{selldata?.title}}">
										<img src="{{trandingImgUrl}}{{selldata?.product_id}}/L/{{selldata?.photos[0]}}" class="img-fluid" alt="{{selldata?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="selldata?.endsoon <= 10 && selldata?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{selldata?.title}}" (click)="gotoProductdetailpage(selldata?.product_id)">{{(selldata?.title.length > 15)? (selldata?.title | slice:0:15)+'...':(selldata?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="selldata?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="selldata?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="selldata?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="selldata?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="selldata?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="selldata?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="selldata?.quantity <= 5">Only {{selldata?.quantity}} left! </span>
											<span *ngIf="selldata?.quantity > 5">{{selldata?.quantity}} left! </span>
										</div>
									</div>
									<span>{{(selldata?.final_price - (selldata?.final_price * selldata?.discount) / 100)}} AED</span>
									<span *ngIf="selldata?.discount > 0 "> |
										<del><span class="grey">{{selldata?.price}} AED</span></del>
										| <span class="text-uppercase">{{selldata?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="selldata?.product_address != null">From <a title="{{selldata?.product_address}}">{{(selldata?.product_address.length > 13)? (selldata?.product_address | slice:0:13)+'...':(selldata?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="selldata?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="selldata?.selling_type =='Fixed price'">Buy It Now</p> 
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="selldata?.endsoon <= 10 && selldata?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="viewwishlist == true">
				<h6>Currently Watched</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let wishlilstdata of viewwishlistData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a title="{{wishlilstdata?.title}}" (click)="gotoProductdetailpage(wishlilstdata?.product_id)">
										<img src="{{trandingImgUrl}}{{wishlilstdata?.product_id}}/L/{{wishlilstdata?.photos[0]}}" class="img-fluid" alt="{{wishlilstdata?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="wishlilstdata?.endsoon <= 10 && wishlilstdata?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{wishlilstdata?.title}}" (click)="gotoProductdetailpage(wishlilstdata?.product_id)">{{(wishlilstdata?.title.length > 15)? (wishlilstdata?.title | slice:0:15)+'...':(wishlilstdata?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="wishlilstdata?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="wishlilstdata?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="wishlilstdata?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="wishlilstdata?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="wishlilstdata?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="wishlilstdata?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="wishlilstdata?.quantity <= 5">Only {{wishlilstdata?.quantity}} left! </span>
											<span *ngIf="wishlilstdata?.quantity > 5">{{wishlilstdata?.quantity}} left! </span>
										</div>
									</div>
									<span>{{(wishlilstdata?.price - (wishlilstdata?.price * wishlilstdata?.discount) / 100)}} AED</span> 
									<span *ngIf="wishlilstdata?.discount > 0 "> |
										<del><span class="grey">{{wishlilstdata?.price}} AED</span></del>
										| <span class="text-uppercase">{{wishlilstdata?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="wishlilstdata?.product_address != null">From <a title="{{wishlilstdata?.product_address}}">{{(wishlilstdata?.product_address.length > 13)? (wishlilstdata?.product_address | slice:0:13)+'...':(wishlilstdata?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="wishlilstdata?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="wishlilstdata?.selling_type =='Fixed price'">Buy It Now</p>
									
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="wishlilstdata?.endsoon <= 10 && wishlilstdata?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="viewunderfifty == true">
				<h6>Under 50 AED Product</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-4 col-6 marB30" *ngFor="let viewunderdata of viewunderfiftyData?.data">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a title="{{viewunderdata?.title}}" (click)="gotoProductdetailpage(viewunderdata?.id)">
										<img src="{{trandingImgUrl}}{{viewunderdata?.id}}/L/{{viewunderdata?.photos[0]}}" class="img-fluid" alt="{{viewunderdata?.title}}">
									</a>
								</figure>
								<div class="sale" *ngIf="viewunderdata?.endsoon <= 10 && viewunderdata?.time == 'Started'"><i class="fa fa-clock-o clockicon"></i></div>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{viewunderdata?.title}}" (click)="gotoProductdetailpage(viewunderdata?.id)">{{(viewunderdata?.title.length > 15)? (viewunderdata?.title | slice:0:15)+'...':(viewunderdata?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="viewunderdata?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="viewunderdata?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="viewunderdata?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="viewunderdata?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="viewunderdata?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="viewunderdata?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="viewunderdata?.quantity <= 5">Only {{viewunderdata?.quantity}} left! </span>
											<span *ngIf="viewunderdata?.quantity > 5">{{viewunderdata?.quantity}} left! </span>
										</div>
									</div>
									<span>{{(viewunderdata?.price - (viewunderdata?.price * viewunderdata?.discount) / 100)}} AED</span>
									<span *ngIf="viewunderdata?.discount > 0 "> |
										<del><span class="grey">{{viewunderdata?.price}} AED</span></del>
										| <span class="text-uppercase">{{viewunderdata?.discount}}% off</span>
									</span>
									
									<p class="mb-1 mt-0" *ngIf="viewunderdata?.product_address != null">From <a title="{{viewunderdata?.product_address}}">{{(viewunderdata?.product_address.length > 13)? (viewunderdata?.product_address | slice:0:13)+'...':(viewunderdata?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="viewunderdata?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="viewunderdata?.selling_type =='Fixed price'">Buy It Now</p>
									<p class="mb-0 mt-2 font-weight-bold text-danger" *ngIf="viewunderdata?.endsoon <= 10 && viewunderdata?.time == 'Started'">Almost gone</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="deals bg padTB60 mt-2" *ngIf="viewsellerActive == true">
				<h6>Seller active item</h6>
				<div class="container p-0">
					<div class="row set_fontSize">
						<div class="col-lg-2 col-md-3 col-6 marB30" *ngFor="let viewselleritm of viewsellerActiveData">
							<div class="box-a mb-4 border rounded">
								<figure class="m-0">
									<a title="{{viewselleritm?.title}}" (click)="gotoProductdetailpage(viewselleritm?.product_id)">
										<div class="top-left-sticker" *ngIf="viewselleritm?.time == 'End'">
											<img src="assets/images/sold.png" class="setImageSize">
											<p class="m-0 sold-text">ENDED</p>
										</div>
										<img src="{{trandingImgUrl}}{{viewselleritm?.product_id}}/L/{{viewselleritm?.photos[0]}}" class="img-fluid" alt="{{viewselleritm?.title}}">
									</a>
								</figure>
								<div class="box-detail bg-light p-1">
									<p class="mt-2 mb-1"><a title="{{viewselleritm?.title}}" (click)="gotoProductdetailpage(viewselleritm?.product_id)">{{(viewselleritm?.title.length > 15)? (viewselleritm?.title | slice:0:15)+'...':(viewselleritm?.title)}}</a></p>
									<div class="row p-0 m-0">
										<div class="col-lg-6 col-md-6 p-0 m-0">
											<span class="ratings">
												<div class="empty-stars"></div> 
												<div class="full-stars" style="width:0%" *ngIf="viewselleritm?.product_avg == 0"></div>
												<div class="full-stars" style="width:20%" *ngIf="viewselleritm?.product_avg == 1"></div>
												<div class="full-stars" style="width:40%" *ngIf="viewselleritm?.product_avg == 2"></div>
												<div class="full-stars" style="width:60%" *ngIf="viewselleritm?.product_avg == 3"></div>
												<div class="full-stars" style="width:80%" *ngIf="viewselleritm?.product_avg == 4"></div>
												<div class="full-stars" style="width:100%" *ngIf="viewselleritm?.product_avg == 5"></div>
											</span>
										</div>
										<div class="col-lg-6 col-md-6 p-0 m-0 text-lg-right text-md-right">
											<span class="text-danger" *ngIf="viewselleritm?.quantity <= 5">Only {{viewselleritm?.quantity}} left! </span>
											<span *ngIf="viewselleritm?.quantity > 5">{{viewselleritm?.quantity}} left! </span>
										</div>
									</div> 
									<span>{{(viewselleritm?.price - (viewselleritm?.price * viewselleritm?.discount) / 100)}} AED</span>
									
									<span *ngIf="viewselleritm?.discount > 0 "> |
										<del><span class="grey">{{viewselleritm?.price}} AED</span></del>
										| <span class="text-uppercase">{{viewselleritm?.discount}}% off</span>
									</span>
									<p class="mb-1 mt-0" *ngIf="viewselleritm?.product_address != null">From <a title="{{viewselleritm?.product_address}}">{{(viewselleritm?.product_address.length > 13)? (viewselleritm?.product_address | slice:0:13)+'...':(viewselleritm?.product_address)}}</a></p>
									<p class="mb-1 mt-0">Free shipping</p>
									<p class="mb-1 mt-0" *ngIf="viewselleritm?.selling_type == 'Auction style'">Auction style</p>
									<p class="mb-1 mt-0" *ngIf="viewselleritm?.selling_type =='Fixed price'">Buy It Now</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
			<!--================Footer Area =================-->
	<footer-page></footer-page>
	</div>
</div>
</ion-content>
