<ion-content padding class="bid-history">
<div class="wrapper">
	<div class="container bid-history-main mb-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 set-fontSize">
                <p class="m-0" navPop *ngIf="plt.is('core') == false && plt.is('mobileweb') == false"><i class="fa fa-angle-left backButtonIcon"></i> <span class="backButtonText">Back</span></p>
				<span><a href="#/viewItem/{{bidHistoryData?.data[0].product_id}}"><i class="fa fa-caret-left"></i> Back to item description</a></span>
            </div>
        </div>
        <div class="row m-0">
            <div class="col-lg-9 col-md-12 col-12">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-12 mt-2 mb-2 p-0">
                        <h5 class="m-0">Bid History</h5>
                    </div>
                </div>
                <div class="row bg-light mt-1 mr-lg-1 border rounded">
                    <div class="col-lg-12 col-md-12 col-12 mb-3 pt-2">
                        <div class="">
                            <ul class="bidders set-fontSize">
                                <li class="pl-0 pr-2"><span>Bidders:</span><span> <b>{{bidHistoryData?.count.bidder_count}}</b></span></li>
                                <li class="pl-2 pr-2"><span>Bids:</span><span> <b>{{bidHistoryData?.count.bids_count}}</b></span></li>
                                <li class="pl-2 pr-2">
                                    <span>Time left:</span>
                                    <span *ngIf="bidHistoryData?.product_info.time == 'End';else showbidtime"> <b>End</b></span>
                                   <ng-template #showbidtime>
                                       <span> <b>{{bidHistoryData?.count.time_left}}</b></span>
                                   </ng-template>
                                </li>
                                <li class="pl-2 pr-2"><span>Duration:</span><span> <b>{{bidHistoryData?.count.duration}} days</b></span></li>
                            </ul>
                        </div>
                        <p class="m-0 set-fontSize">Only actual bids (not automatic bids generated up to a bidder's maximum) are
                            shown. Automatic bids may be placed days or hours before a listing ends.
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 mb-3 pt-2">
                        <table class="table table-sm set-fontSize">
                            <thead class="thead-light">
								<tr>
									<th scope="col" class="bid-history-th">Bidder</th>
									<th scope="col" class="bid-history-th">Bid Amount</th>
									<th scope="col" class="bid-history-th">Bid Time</th>
								</tr>
                            </thead>
                            <tbody>
								<tr *ngFor="let bidhistory of bidHistoryData?.data">
									<td *ngIf="localItem?.id == bidhistory?.buyer_id && localItem != null">{{bidhistory?.display_name}}</td>
									<td *ngIf="localItem?.id != bidhistory?.buyer_id && localItem != null">{{bidhistory?.display_name | replaceName : bidhistory?.display_name }}</td>
									<td *ngIf="localItem == null">{{bidhistory?.display_name | replaceName : bidhistory?.display_name }}</td>
									<td>{{bidhistory?.bid_price}} AED</td>
									<td>{{bidhistory?.created_date}}</td>
								</tr>
                            </tbody>
                        </table>
                        <p class="m-0 set-fontSize">If two people bid the same amount, the first bid has priority. Also, you can only
                            retract your bid under certain circumstances.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-12 mt-lg-5 mt-md-3 mt-3 pl-3 pr-3 pt-2 bg-light border rounded">
                <h6 class="m-0 text-left">Item info</h6>
                <div class="row m-0">
                    <div class="col-lg-12 col-md-12 col-12 order-total p-0 mt-2 set-fontSize">
                        <div class="row m-0">
                            <div class="col-lg-5 col-md-4 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span><img src="{{trandingImgUrl}}{{bidHistoryData?.product_info.id}}/L/{{bidHistoryData?.product_info.photos[0]}}"  class="img-fluid mx-auto d-block border"></span>
                            </div>
                            <div class="col-lg-7 col-md-8 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span><a (click)="goToProductDetails(bidHistoryData?.product_info.id)" class="text-primary">{{bidHistoryData?.product_info.title}}</a></span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-5 col-md-4 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span>Current bid:</span>
                            </div>
                            <div class="col-lg-7 col-md-8 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span>{{bidHistoryData?.data[0].bid_price}} AED<br/></span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-5 col-md-4 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span>Item number:</span>
                            </div>
                            <div class="col-lg-7 col-md-8 col-6 pt-2 pb-2 pr-1 pl-1 text-left">
                                <span>{{bidHistoryData?.product_info.product_sku}}</span>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="col-lg-12 col-md-2 col-12 p-0 text-left linearBg3">
                            </div>
                        </div>
                        <div *ngIf="bidHistoryData?.product_info.time != 'End'">
                            <div class="row m-0">
                                <div class="col-lg-12 col-md-12 col-12 pt-2 pb-2 pr-1 pl-1 text-left">
                                    <span>Enter your maximum bid:</span>
                                </div>
                            </div>
                            <div class="form-group row m-0 ">
                                <div class="col-lg-7 col-md-7 pl-lg-1 pl-md-1 col-12">
                                    <form #frm_bids="ngForm" method="post" role="form" novalidate>
                                        <input type="number" class="form-control" id="inputCode" name="inputbid" #inputbid="ngModel" required ngModel>
                                        <div *ngIf="inputbid.invalid && (inputbid.dirty || inputbid.touched)" class="error-box">
                                            <div *ngIf="inputbid.errors.required">
                                                * Enter Bid Amount.
                                            </div>
                                        </div>
									</form>
                                </div>
                                <div class="col-lg-5 col-md-5 col-12 text-center mt-2 mt-lg-0 mt-md-0">
                                    <button class="btn theme-light-btn" role="button" type="submit" (click)="openModal()" [disabled]="!frm_bids.valid">Place bid</button>
                                </div>
                            </div>
                            <div class="row m-0">
                                <div class="col-lg-12 col-md-12 col-12 pt-2 pb-2 pr-1 pl-1 text-left">
                                    <span>(Enter {{bidHistoryData?.data[0].bid_price + 1}} AED or more)</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 pt-2 pb-2 pr-1 pl-1 text-center d-none w-100" id="sucsessbids">
                                    <span class="text-success">Bid Place Successfully</span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-12 pt-2 pb-2 pr-1 pl-1 text-center d-none w-100" id="errorbids">
                                    <span class="error-box">You have to bid at least {{bidHistoryData?.data[0].bid_price + 1}} AED</span>
                                </div>
								<span class="d-none error-bid text-danger"><b>Sorry you cannot bid on your own items.</b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================Footer Area =================-->
   <footer-page></footer-page>
</div>
</ion-content>
