page-shop-by-departments {
	.wrapper{
		margin-top: 100px;
	}
	.saved-main {
    letter-spacing: 0.5px;
	.setFontSize{
		font-size:13px;
	}
    .saved-product-list {
      .saved-price {
        font-size: $fontsizeone;
        color: $color_semiblack;
        font-weight: $font-weight600;
        text-align: center;
      }
      .menclothesimages {
        display: block;
        margin: 0 auto;
        border: 1px solid $color_white;
        border-radius: 5px;
        width: 100%;
      }
      .menclothesimages:hover {
        border: 1px solid $secondary_color;
      }
      h6 {
        color: $color_semiblack;
      }
      .img__wrap {
        position: relative;
      }
    }
  }
}
