@media only screen and (min-height: 768px) and (min-width: 768px) {
	.modal-wrapper{
		left: calc(50% - (600px / 2)) !important;
		top: calc(50% - (600px / 2)) !important;
		position: absolute !important;
		width: 575px !important;
		height: 600px !important;
	}
}
page-page-rating {
@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: landscape) {
img{
    height: 89vh;
    width: auto;
    margin: auto;
    display: block;
}
.modal_content.dibdaa-advertisement{
    text-align:center;
    }
}
	.scroll-content{
		overflow:hidden;
		@media only screen and (min-width: 320px) and (max-width: 568px) {
			margin: 0;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-right: -50%;
			transform: translate(-50%, -50%);
			margin-top : 0 !important;
		}
	}
	ion-header {
		left: 0;
		position: absolute;
		z-index: 10;
		display: block;
		width: 100%;
	}
	.title_Advertisement{
		min-height: auto !important;
	}
}
