page-seller-my-account {
	//top: 100px !important;
	button.dropbtn.btn {
		border-bottom: 1px solid #f47321 !important;
	}
	span.input-group-addon.flagInput{
		border: none;
	}
	.wrapper{
		margin-top: 70px;
	}
	.setFont-size{
		font-size:13px;
	}
	.errorDisp_cente{
		text-align:center;
	}
	.custom-autocomplete__dropdown{
		list-style:none !important;
		padding-left:1px !important;
	}
	.setCenter{
		margin:0 auto;
	}
	.border_bottom{
		border-bottom: 1px solid #e9ecef !important;
	}
	.error-box{
		color:$color_red;
		font-weight:600;
	}
	
	div a.activated123 {
		text-decoration: underline!important;
		color: $frontColor!important;
	}
	.unsold_titleback{
		background-color: $secondary_color;;
	}
	.ng2-pagination {
		margin-left: 0;
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
	}

	.seller-account {
		.nav-link{
			padding: 0.5rem 0.5rem !important;
		  }
		.custom-autocomplete__dropdown[_ngcontent-c1] li[_ngcontent-c1]{
			list-style: none !important;
		}
		.search-icon{
			visibility: hidden !important;
		}
		.custom-autocomplete__input{ 
			input{
				padding-right: 10px !important;
				border-bottom: 1px solid #da7318 !important;
				border-radius: 5px !important;
				background: #fff;
				border-left: none !important;
				border-right: none !important;
				border-top: none !important;
			}
		}
		.feedback-tab-ul{
			list-style: none !important;
			padding-left: 0 !important;
		}
		.text_deco{
			    text-decoration: line-through;
		}
		.badge-shaping{
			position:relative;
		}
		.order_dtil{
			color:#007bff;
			text-decoration:none;
		}
		.order_dtil:hover{
			color:#007bff;
			text-decoration:underline;
		}

		.edit-user-info {
			border:1px solid $secondary_color;
		  .form-control {
			font-size: 0.9rem !important;
			border: 0 !important;
			border-bottom: 1px solid $frontColor !important;
		  }
		  .custom-control-indicator {
			background-color: $frontColor !important;
			outline: none;
		  }
		  a.temporary-password {
			color: $frontColor;
			font-size: 0.9rem;
			font-family: $OpenSans-SemiBold;
			letter-spacing: 0.5px;
		  }
		  p {
			font-size: 0.9rem;
			width: 100%;
			letter-spacing: 0.5px;
		  }
		  label {
			color: $color_semiblack;
			font-weight: normal;
			letter-spacing: 0.5px;
		  }
		  .custom-control-description {
			position: relative;
			top: 2px;
		  }
		}
		/*@media (max-width: 768px) and (min-width: 320px){
			top: 190px !important;
			position: relative;
		}*/
			@media (max-width: 768px) and (min-width: 320px){
				.wrapper{
					margin-top: 100px;
				}
			}
			@extend .my-account;
			
			letter-spacing: 0.5px;
		  .theme-light-btn.addresses-btn {
			width: 145px!important;
		  }
		  .wstbootslider {
				width: auto !important;
				float: none !important;
				margin-top: 0 !important;
			}
			.category-arrow{
				float: right;
				position: relative;
				top: 2px;
				font-size: 1rem;
			}
		  .linearBg3 {
			background: -webkit-radial-gradient(50% 375%, closest-corner, black, #f8f9fa) repeat scroll 0 0 transparent;
			/*background: -moz-radial-gradient(50% 375%, closest-corner, #000, #f8f9fa) repeat scroll 0 0 transparent;
			filter: alpha(opacity=100, finishopacity=0, style=2);*/
			height: 5px;
			width: 100%;
			margin: 0 auto;
		  }
		  .custom-control-indicator {
			background-color: $frontColor !important;
			outline: none;
			width: 0.9rem !important;
			height: 0.9rem !important;
		  }
		  .custom-control-description {
			font-weight: normal;
		  }
		  a.temporary-password {
			color: $frontColor;
			font-size: 0.9rem;
			letter-spacing: 0.5px;
		  }
		  .product-view-img {
			@extend .product-bid-img
		  }
		  .product-wish-img {
			@extend .product-bid-img
		  }
		  .product-bid-img {
			height: auto;
			width: auto;
			border-radius: 15px;
			border: 1px solid $color_grey;
			max-width: 100px;
			max-height: 100px;
		  }
		  .item-per-page{
			position: relative;
			top:6px;
		  }
		  .product-Unsold-img {
			@extend .product-bid-img
		  }
		  .addresses-h6{
			color: $frontColor;
		  }
		  .product-save-title {
			color: $color_black;
			&:hover {
			  color: $frontColor;
			  text-decoration-color: $frontColor;
			}
		  }
		  .border-bottom-drafts {
			border-bottom: 1px dashed $secondary_color;
		  }
		  .paginationlist {
			ul.pagination {
			  list-style: none !important;
			  .page-link {
				border: none;
				padding: .5rem .95rem;
				background-color: transparent !important;

			  }
			  .page-link.active {
				color: $color_semiblack;
			  }
			  .page-link.active:focus, .page-link.active:hover {
				color: $color_semiblack;
				text-decoration: none;
			  }
			  .page-link:focus, .page-link:hover {
				background-color: transparent;
				text-decoration: underline;
			  }
			  .arrowprevnext {
				font-size: 1.3rem;
				position: relative;
				bottom: 3px;
			  }
			}
		  }
		  ul.topnavigation {
			padding-left: 0 !important;
			padding-bottom: 5px;
			list-style: none;
		  }
		  a.nav-link-top {
			color: $color_semiblack;
			text-decoration: none;
		  }
		  a.nav-link-top:hover {
			color: $frontColor;
			text-decoration: underline;
		  }
		  
		  label {
			color: $color_semiblack;
			font-weight: $font-weight600;
			letter-spacing: 0.5px;
		  }
		  input {
			font-size: 0.9rem;
		  }
		  select, option {
			font-size: 0.9rem;
		  }
		  select.form-control:not([size]):not([multiple]) {
			height: calc(1.75rem + 2px) !important;
			padding: .100rem .50rem !important;
		  }
		  .searchanythingform {
			select.form-control:not([size]):not([multiple]) {
			  height: calc(2.25rem + 5px) !important;
			}
		  }
		  .table td, .table th {
			vertical-align: middle !important;
		  }
		  .saved-sellers-tbl {
			td {
			  vertical-align: top !important;
			}
			th {
			  vertical-align: top !important;
			  min-width:130px;
			}
		  }
		.empty-list-message {
			font-size: 0.91rem;
			color: #000000;
			font-weight: 600;
		}

		.my-wish-list {
			letter-spacing: 0.5px;
			ul {
			  list-style: square;
			  padding-left: 0;
			  a {
				font-weight: normal;
			  }
			}
			.listing-active-all {
			  list-style: none !important;
			  padding-left: 0 !important;
			  border-bottom: 0 !important;
			  position: relative;
			  white-space: nowrap;
			  flex-wrap: nowrap;
			  padding-bottom: 10px;
			  overflow-x:auto;
			  li {
				padding: 0 10px;
				a {
				  color: $color_black;
				  font-family: $OpenSans-Bold;
				}
			  }
			  .border-right-wish {
				border-right: 1px solid $color_semiblack !important;
			  }
			}
		  }
		  .wish-list-table {
			.wish-th {
			  min-width: 100px;
			}
			.wish-th-img {
			  min-width: 100px;
			}
			.wish-th-img-sold {
			  min-width: 130px;
			}
			.wish-th-small {
			  min-width: 50px;
			}
			.wish-th-desc {
			  min-width: 200px;
			}
			.note-show {
			  background-color: #FBFAB5;
			  border: 1px solid $secondary_color;
			  color: $color_black;
			  letter-spacing: 0.5px;
			}
		  }
		  .border-bottom-td {
			border-bottom: 1px solid #e9ecef !important;
		  }
		  .border-right-unsold {
			border-right: 1px solid #e9ecef !important;
		  }
		  .select-fliter-sort {
			border-bottom: 1px solid $secondary_color;
			border-top: 0;
			border-left: 0;
			border-right: 0;
		  }
		  .border-to-bottom {
			border-bottom: 1px dashed $color_grey;
		  }
		  .resolution-center-main {
			letter-spacing: 0.5px;
			.view-all-feedback {
			  background-color: #FBFAB5;
			  border: 1px solid $secondary_color;
			  box-shadow: 0 1px 2px 0 rgba(221, 221, 221, 0.5);
			  color: $color_black;
			  font-weight: 600;
			  letter-spacing: 0.5px;
			}
			[type="radio"]:checked,
			[type="radio"]:not(:checked) {
			  position: absolute;
			  left: -9999px;
			}
			[type="radio"]:checked + label,
			[type="radio"]:not(:checked) + label {
			  position: relative;
			  padding-left: 28px;
			  cursor: pointer;
			  line-height: 20px;
			  display: inline-block;
			  color: #666;
			}
			[type="radio"]:checked + label:before,
			[type="radio"]:not(:checked) + label:before {
			  content: '';
			  position: absolute;
			  left: 0;
			  top: 0;
			  width: 18px;
			  height: 18px;
			  border: 1px solid $secondary_color;
			  border-radius: 100%;
			  background: $color_white;
			}
			[type="radio"]:checked + label:after,
			[type="radio"]:not(:checked) + label:after {
			  content: '';
			  width: 8px;
			  height: 8px;
			  background: $frontColor;
			  position: absolute;
			  top: 5px;
			  left: 5px;
			  border-radius: 100%;
			  -webkit-transition: all 0.2s ease;
			  transition: all 0.2s ease;
			}
			[type="radio"]:not(:checked) + label:after {
			  opacity: 0;
			  -webkit-transform: scale(0);
			  transform: scale(0);
			}
			[type="radio"]:checked + label:after {
			  opacity: 1;
			  -webkit-transform: scale(1);
			  transform: scale(1);
			}
			.resolution-label{
			  font-weight: normal!important;
			}
		  }
			.purchaseHistorySelect{
				height: calc(1.75rem + 3px) !important;
			}
		  .dashboard-main{
			.card {
			  background: #FBFAB5 none repeat scroll 0 0;
			  margin: 15px 0;
			  padding: 20px;
			  border: 1px solid $secondary_color;
			  border-radius: 5px;
			  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
			  .media-middle {
				border: 1px solid $secondary_color;
				border-radius: 100%;
				height: 50px;
				width: 50px;
				text-align: center;
				background-color: rgba(0, 0, 0, 0.05);
				.dashboard-awesome{
				  color: $frontColor;
				  font-size: $fontsizeh2;
				  position: relative;
				  top: 11px;
				}

			  }
			}
		  }
		  .messages-listing {
			  #custom-search-input {
				background: #e8e6e7 none repeat scroll 0 0;
				margin: 0;
				padding: 10px;
				.input-group-addon {
				  margin-left: -50px;
				  z-index: 3;
				  border-radius: 40px;
				  background-color: transparent;
				  border: none;
				  .search-chat-btn {
					border-radius: 20px;
					cursor: pointer;
					background-color: $frontColor;
					color: $color_white;
				  }
				}
			  }
			  .header_sec {
				/*    font-family: $OpenSans-Bold;*/
			  }
			  .contact_sec {
				font-family: $OpenSans-Light;
			  }
			  .all_conversation button {
				background: #f5f3f3 none repeat scroll 0 0;
				border: 1px solid $color_Silver;
				height: 38px;
				text-align: left;
				width: 100%;
			  }
			  .all_conversation i {
				background: #e9e7e8 none repeat scroll 0 0;
				border-radius: 100px;
				color: #636363;
				font-size: 17px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				width: 30px;
			  }
			  .all_conversation .caret {
				bottom: 0;
				margin: auto;
				position: absolute;
				right: 15px;
				top: 0;
			  }
			  .all_conversation .dropdown-menu {
				background: #f5f3f3 none repeat scroll 0 0;
				border-radius: 0;
				margin-top: 0;
				padding: 0;
				width: 100%;
			  }
			  .all_conversation ul li {
				border-bottom: 1px solid $color_Silver;
				line-height: normal;
				width: 100%;
			  }
			  .all_conversation ul li a:hover {
				background: $color_Silver none repeat scroll 0 0;
				color: #333;
			  }
			  .all_conversation ul li a {
				color: #333;
				line-height: 30px;
				padding: 3px 20px;
			  }
			  .member_list .chat-body {
				margin-left: 47px;
				margin-top: 0;
			  }
			  .top_nav {
				overflow: visible;
			  }
			  .member_list .contact_sec {
				margin-top: 3px;
			  }
			  .member_list li {
				padding: 6px;
				a {
				  color: $color_black;
				  text-decoration: none;
				  &:hover {
					text-decoration: none;
				  }
				}
			  }
			  .member_list ul {
				border: 1px solid $color_Silver;
			  }
			  .chat-img img {
				height: 34px;
				width: 34px;
			  }
			  .member_list li {
				border-bottom: 1px solid $color_Silver;
				padding: 6px;
			  }
			  .member_list li:hover {
				background-color: $frontColor;
				color: $color_white;
			  }

			  .member_list li:last-child {
				border-bottom: none;
			  }
			  .sub_menu_ {
				background: #e8e6e7 none repeat scroll 0 0;
				left: 100%;
				max-width: 233px;
				position: absolute;
				width: 100%;
			  }
			  .sub_menu_ {
				background: #f5f3f3 none repeat scroll 0 0;
				border: 1px solid rgba(0, 0, 0, 0.15);
				display: none;
				left: 100%;
				margin-left: 0;
				max-width: 233px;
				position: absolute;
				top: 0;
				width: 100%;
			  }
			  .all_conversation ul li:hover .sub_menu_ {
				display: block;
			  }
			  .new_message_head button {
				background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				border: medium none;
			  }
			  .new_message_head {
				background: #f5f3f3 none repeat scroll 0 0;
				float: left;
				font-size: 13px;
				font-weight: 600;
				padding: 18px 10px;
				width: 100%;
			  }
			}
			.saved-sellers-th{
				min-width: 100px;
			}
	}
	.last-12-months {
		color: $frontColor;
		font-size: 0.8rem;
	}
	.map-icon {
		font-size: $fontsizeh2;
		color: $frontColor;
	}
}
