page-check-otp {
.error-box{
		font-size: 13px;
		color: red;
		font-weight: 500;
		letter-spacing: 1px;
	}
	.scroll-content{
		overflow-y:auto;
	}
  .showSuccessMessage{
    margin: 0 auto;
    padding: 0 0 15px 0;
  }
  .setFont-size{
    font-size: 13px;
  }
 
.login {
	.setFont{
		font-size:13px;
	}
  .login-container {
    min-height: calc(100vh - 207px);
  }
	background-color: $color_grey;
	height:100%;
	.margin_top{
		margin-top: 10px;
	}
	.warning{
		color:$color_red;
		font-size: 14px;
	}
	.border-bottom{
		border-bottom: 2px solid $color_grey;
	}
	.youcanalso{
		margin-top: 30px;
		font-size: 14px;
	}
	.register_info{
		font-size: 16px;
		font-weight: 400;
	}
	.youcanalso-ul{
		list-style: square;
		padding-left: 30px;
		margin-top: 15px;
	}
	.youcanalso-a:hover{
		text-decoration: underline;
		opacity:1;
		cursor: pointer;
	}
	
  .row.loginregister {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    img.dibdaalogo {
      display: block;
      margin: 0 auto;
    }
    .panel.panel-login {
      background-color: $color_white;
      padding: 20px 20px 0 20px;
      border: 1px solid #D7D7D7;
      .panel-heading{
        font-size: $fontsizeone;
        font-weight: $font-weight600;
        color: $color_black;
        a{
          color: $color_black;
          i{
            font-size: $fontsizeh2;
            position: relative;
            top:4px;
          }
        }
        a.active {
          color: $frontColor;
          i{
            color: $frontColor;
          }
        }
        }
      .panel-body{
		.custom-control-description{
			font-size: 14px;
			font-weight: 300;
			margin: auto;
		}
		.label_personal{
			font-size: 13px;
			font-weight: 400;
		}
        .btnsignin{
          background-color: $frontColor;
          width:100%;
          color: $color_white;
          font-weight: $font-weightbold;
          letter-spacing: 0.5px;
        }
        .custom-control-indicator{
          background-color: $frontColor!important;
          outline: none;
        }
        a.temporary-password{
          color: $frontColor;
          font-size: 0.9rem;
          letter-spacing: 0.5px;
        }
        [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1);
        }
        img.registercaptchaimg{
          display: block;
          margin: 0 auto;
        }
        .showpassworddiv{
          border: 1px solid #ced4da;
          border-radius: .25rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          flex: 0 0 13.666667%;
          max-width: 13.666667%;
        }
        .passwordregister{
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }
        .withpassword{
          position: relative;
          top: 7px;
        }
      }
    }
  }
  .footer_area{
    background-color: $color_white;
	    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
}
