<ion-content padding>
<div class="leave-message">
	<div class="wrapper">
		<div class="container leave-message-main">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-xl-12 col-12 breadcrumblink_div">
					<p class="m-0" navPop *ngIf="plt.is('core') == false && plt.is('mobileweb') == false"><i class="fa fa-angle-left backButtonIcon"></i> <span class="backButtonText">Back</span></p>
					<p class="setFont-size mb-0">
						<a href="#/home" class="breadcrumblink">Dibdaa</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
						<a href="#/seller-my-account/message" class="breadcrumblink">My Dibdaa</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;
						<a class="breadcrumblink" disabled>Message Details</a>
					</p>
				</div>
			</div>
			<div class="row m-0">
				<div class="col-sm-12 col-lg-12 col-md-12 col-12 message_section mb-3 mt-3">
					<div class="row">
						<div class="chat_area" id="chat_area">
							<div class="row product-detail-area m-0 pt-3 pb-3">
								<div class="col-lg-1 col-md-2 col-4 col-sm-4 pr-0">
									<a>
										<img src="{{trandingImgUrl}}{{show_msgdata?.product_info.id}}/S/{{show_msgdata?.product_info.photos[0]}}" class="img-fluid productimages rounded-circle">
									</a>
								</div>
								<div class="col-lg-11 col-md-10 col-8 col-sm-8 pl-0">
									<a>
										<h5 class="product-name">{{show_msgdata?.product_info.title}}</h5>
									</a>
								</div>
							</div>
							<ul class="list-unstyled setFont-size">
								<div *ngFor="let msgdata of show_msgdata?.data">
									<li class="left clearfix" *ngIf="UserId != msgdata?.sender_id;else adminChat;"> <!-- -->
										<div class="chat-img1 pull-left" *ngIf="msgdata?.send_pic != '';else notimg">
											<img src="{{userImg}}{{msgdata?.sender_id}}/{{msgdata?.send_pic}}" alt="User Avatar" class="img-fluid rounded-circle">
											<p class="username-chat text-center mb-0">{{msgdata?.sender}}</p>
										</div>
										<ng-template #notimg>
											<div class="chat-img1 pull-left">
												<img src="assets/images/men-placeholder.png" alt="User Avatar" class="img-fluid rounded-circle">
												<p class="username-chat text-center mb-0">{{msgdata?.sender}}</p>
											</div>
										</ng-template>
										<div class="chat-body1 receiver clearfix">
											<p class="text-left">{{msgdata?.message}}</p>
											<div class="chat_time pull-left mb-2">{{msgdata?.created_date}} </div>
										</div>
									</li>
									<ng-template #adminChat>
										<li class="left clearfix admin_chat">
											<div class="chat-img1 pull-right" *ngIf="msgdata?.send_pic != '';else notimgadmin">
												<img src="{{userImg}}{{msgdata?.sender_id}}/{{msgdata?.send_pic}}" alt="User Avatar" class="img-fluid rounded-circle">
												<p class="username-chat text-center mb-0">{{msgdata?.sender}}</p>
											</div>
											<ng-template #notimgadmin>
												<div class="chat-img1 pull-right">
													<img src="assets/images/men-placeholder.png" alt="User Avatar" class="img-fluid rounded-circle">
													<p class="username-chat text-center mb-0">{{msgdata?.sender}}</p>
												</div>
											</ng-template>
											<div class="chat-body1 sender clearfix">
												<p class="text-right">{{msgdata?.message}}</p>
												<div class="chat_time pull-right mb-2">{{msgdata?.created_date}}</div>
											</div>
										</li>
									</ng-template>
								</div>
							</ul>
						</div><!--chat_area-->
						<div class="message_write">
							<textarea class="form-control" placeholder="type a message" id="sendmsg" name="sendmsg" #sendmsg="ngModel" required ngModel></textarea>
							<div class="clearfix"></div>
							<div class="chat_bottom">
								<button class="pull-right btn theme-light-btn" (click)="sendMessage()" [disabled]="!sendmsg.valid"> Send Message</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--================Footer Area =================-->
<footer-page></footer-page>
	</div>
</div>
</ion-content>
