<ion-content padding>
<div class="login"> 
	<div class="container login-container">
		<div class="row loginregister pt-lg-5 pt-md-5 mb-5">
			<div class="col-lg-12 col-md-12 col-12 pb-4 margin_top">
				<a href="#/home"><img src="assets/images/Dibdaa.png" class="dibdaalogo" alt="Dibdaa Logo"></a>
			</div>
			<div class="col-lg-6 col-md-10 col-12">
				<div class="panel panel-login">
					<div class="panel-body">
						<div class="row" *ngIf="isConfirmAccount == false;else showsucessAccount">
							<div class="col-lg-12 col-12 col-md-12">
								<div class="form-group">
									<button class="backbutton" (click)="goToBack()"><i class="fa fa-angle-left pr-2" style="font-size:18px"></i>Back</button>
								</div>
								<div class="form-group">
									<h6>To complete your registration, please verify your email address. We emailed a link to you Please check your email and click the link to verify your email address or enter verification code below.</h6>
								</div>
								<div class="form-group">
									<span class="register_info">We're send a Verification code to <b>{{emailID}}</b></span>
 								</div>
								<span class="warning" *ngIf="userConfirm?.user.status == 'fail'"><i class="fa fa-exclamation-triangle"></i> {{userConfirm?.user.msg}}. Try again?</span>
								<form id="reset-password" [formGroup]="confiemAcc" role="form" style="display: block;" class="form" novalidate>
									<div class="form-group">
										<input type="number" name="otp" class="form-control" [formControl]="confiemAcc.controls['otp']" [ngClass]="{'error-border':!confiemAcc.controls['otp'].valid}">
										<div class="error-box text-left" *ngIf="confiemAcc.controls['otp'].hasError('required') && confiemAcc.controls['otp'].touched">* Verification code is required!</div>
										<div class="error-box text-left" *ngIf="confiemAcc.controls['otp'].hasError('maxlength') && confiemAcc.controls['otp'].touched">* Maximum length is 4!</div>
										<div class="error-box text-left" *ngIf="confiemAcc.controls['otp'].hasError('minlength') && confiemAcc.controls['otp'].touched">* Minimum length is 4!</div>
									</div>
									<div class="col-lg-6 col-md-6 form-group">
                                                                            <input type="number" name="id" class="form-control" value="{{user_id}}">
										<button type="submit" class="btn btn-warning btnsignin" (click)="resendMail()">Resend Mail</button>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-warning btnsignin" (click)="confirmAcco(confiemAcc)">Continue</button>
									</div>
								</form>
							</div>
						</div>
						<ng-template #showsucessAccount>
							<div class="col-lg-12 col-12 col-md-12">
								<div class="form-group text-center">
									<h6>Your email account verified successfully.</h6> <h6>Please click here to <a class="backbutton" (click)="callloginPage()">Sign In</a> and start Dibsing.</h6>
								</div>
							</div>
						</ng-template>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--================Footer Area =================-->
	<footer-page></footer-page>
</div>
</ion-content>
